@model IEnumerable<HhcTst.Areas.Admin.Models.hhcsecondarysale>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <table>
            <tr>
                <th>a</th>
                <th>b</th>
                <th>c</th>
            </tr>
           @foreach (var item in Model) { 
             <tr>
                <td>@Html.DisplayFor(a=>item.stockistname</td>
                <td></td>
                <td></td>

            </tr>}
        </table>
    </div>
</body>
</html>
