.header {
	font-size:24px;
	color: #000;
    background:#ccc;
    padding:20px 0;
    text-align:center;
}

.footer {
	font-size:14px;
	color: #000;
    background:#ccc;
        padding:10px 0;
            text-align:center;
}

.login-logout {
    padding:15px 0;
    text-align:center;
}



@media only screen and (max-width: 640px) {
    .header {
	font-size:14px;
	color: #000;
    background:#ccc;
        padding:10px 0;
            text-align:center;
}

.footer {
        padding:10px 0;
	font-size:14px;
	color: #000;
    background:#ccc;
        text-align:center;
}
.login-logout {
    padding:15px 0;
    text-align:center;
}
}