<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <script src="Scripts/angular.min.js"></script>
    <script src="Scripts/Custom/AjsScript.js"></script>
</head>
<body ng-app="DemoApp">
    <div ng-controller="abc">
        <p>   <!--{{abc1}}<br /> {{2+2}}--></p>
        <table align="center" border="1" class="">
            <tr>
                <td>UserID</td>
                <td>UserName</td>
                <td>Address</td>
                <td>ContactNo</td>
            </tr>
            <tr ng-repeat="a in abc1">
                <td>{{a.UserID}}</td>
                <td>{{a.UserName}}</td>
                <td>{{a.Address}}</td>
                <td>{{a.ContactNo}}</td>
                <!--<td>
                    <p><a ng-click="edit()" href="javascript:void(0);">Edit</a> |
                     <a ng-click="delete()" href="javascript:void(0);">Delete</a></p>
                </td>-->
            </tr>
        </table>
    </div>
</body>
</html>
