@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <style type="text/css">
        body {
            font-family: Arial;
            font-size: 10pt;
        }

        table td:first-child {
            padding-right: 10px;
        }

        select {
            width: 120px;
        }
    </style>
</head>
<body>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.9/angular.min.js"></script>
    <script type="text/javascript">
        var app = angular.module('MyApp', [])
        app.controller('MyController', function ($scope, $http, $window) {
            $scope.LoadDropDown = function (type, value) {
                switch (type) {
                    default:
                        $scope.SelectedZoneId = 0;
                        $scope.ZoneDefaultLabel = "Loading.....";
                        $scope.Zones = null;
                        break;
                    case "ZoneId":
                        $scope.SelectedStateId = 0;
                        $scope.StateDefaultLabel = "Loading.....";
                        $scope.CityDefaultLabel = "";
                        $scope.States = null;
                        $scope.Cities = null;
                        break;
                    case "STATEID":
                        $scope.SelectedCityId = 0;
                        $scope.CityDefaultLabel = "Loading.....";
                        $scope.Cities = null;
                        break;
                }
                $http({
                    method: "POST",
                    url: "/test4/AjaxMethod",
                    dataType: 'json',
                    data: '{type: "' + type + '", value: ' + value + '}',
                    headers: { "Content-Type": "application/json" }
                }).success(function (data, status) {
                    switch (type) {
                        default:
                            $scope.ZoneDefaultLabel = "Select Zone";
                            $scope.Zones = data;
                            break;
                        case "ZoneId":
                            $scope.StateDefaultLabel = "";
                            if (data.length > 0) {
                                $scope.StateDefaultLabel = "Select State";
                                $scope.States = data;
                            }
                            break;
                        case "STATEID":
                            $scope.CityDefaultLabel = "";
                            if (data.length > 0) {
                                $scope.Cities = data;
                                $scope.CityDefaultLabel = "Select City";
                            }
                            break;
                    }
                }).error(function (data, status) {
                    $window.alert(data.Message);
                });
            };
            $scope.LoadDropDown('', 0);
        });
    </script>
    <div ng-app="MyApp" ng-controller="MyController">
        <table border="0" cellpadding="0" cellspacing="0">
            <tr>
                <td>Zone:</td>
                <td>
                    <select name="Zone" ng-model="SelectedZoneId" ng-change="LoadDropDown('ZoneId', SelectedZoneId)">
                        <option value="0">{{ZoneDefaultLabel}}</option>
                        <option ng-repeat="item in Zones" value="{{item.Value}}">
                            {{item.Text}}
                        </option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>State:</td>
                <td>
                    <select name="State" ng-model="SelectedStateId" ng-change="LoadDropDown('STATEID', SelectedStateId)">
                        <option value=" 0">{{StateDefaultLabel}}</option>
                        <option ng-repeat="item in States" value="{{item.Value}}">
                            {{item.Text}}
                        </option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>City:</td>
                <td>
                    <select name="City">
                        <option value="0">{{CityDefaultLabel}}</option>
                        <option ng-repeat="item in Cities" value="{{item.Value}}">
                            {{item.Text}}
                        </option>
                    </select>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>
